.grocery-list-card {
  width: 250px;
  height: 200px;
  background: white;
  border-radius: 0px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  display: inline-block;
}
