.meal-cards-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 430px;
}

.meal-card {
  width: 250px;
  height: 400px;
  background: white;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  flex: 0 0 auto;
}

.nutrition-info {
  background: white;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  flex: 0 0 auto;
}

.order-details {
  display: grid;
  grid-template-columns: 50% 50%;
}

.meal-name {
  text-align: left;
  margin-left: 20px;
  grid-column: 1/2;
  margin: 0px 0px 14px 20px;
}

.meal-price {
  grid-column: 2/3;
  text-align: left;
  margin: 0px 0px 14px 20px;
}

.order-titles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.store {
  grid-column: 1/2;
}

.delivery {
  grid-column: 2/3;
}

.coupon {
  grid-column: 3/4;
}

#button-meals {
  border: 2px solid;
  border-color: #F1B727;
  background-color: transparent;
  color: black;
  margin-bottom: 20px;
  padding: 18px;
}