.App {
 text-align: center;
}

html, body {
  height: 100%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
  scroll-behavior: smooth;
}

p {
  font-size: 16px;
  line-height: 25px
}

ul {
  list-style-image: url(/check-pink.png);
  font-size: 16px;
}

h4 {
  font-size: 17px;
}

span {
  font-size: 20px;
}

#navbar {
  overflow: auto;
  background: #2761f1;
  /* background: linear-gradient(270deg, rgba(39,97,241,1) 0%, rgba(232,10,170,1) 80%); */
  position: static;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}

#info-card {
  margin-top: 2%;
  display: inline-block;
  width: 80%
}

#info-card p {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

#info-card h3 {
  text-align: left;
  margin-left: 10px;
  font-style: italic;
}

#info-card p {
  margin-bottom: 10px;
}

#image {
  margin: 0 auto;
  margin-top: 10px;
}

#steps > p{
  display: inline-block;
  text-align: center;
}

#bmr-form {
  width: 40%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 15px !important;
  box-shadow: none;
}

#bmr-form-mobile {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 15px !important;
  box-shadow: none;
}

#bmr-results {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 15px !important;
  box-shadow: none;
  background: #F6F6F6;
  /* border-style: solid;
  border-color: #2761f1; */
}

#calories-result {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 15px !important;
  box-shadow: none;
  background: #2761f1;
  /* border-style: solid;
  border-color: #2761f1; */
}

#diet-type-result {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px !important;
  box-shadow: none;
  background: #F6F6F6;
  /* border-style: solid;
  border-color: #2761f1; */
}

#bmr-results-text {
  margin: 0 auto;
  margin-bottom: 0px;
  width: 90%;
  font-size: 30px;
  font-style: italic;
  color: white;
}

/* #image-container {
  margin: 0 auto;
  margin-bottom: 40px;
} */

.ui.container {
  overflow: auto;
  white-space: nowrap;
}
.ui.card {
  display: inline-block;
}

#body-card {
  display: inline;
}

#macros-title {
  margin: 0 auto;
  margin-bottom: 0px;
  width: 90%;
  font-size: 30px;
  font-style: italic;
  color: white;
}

#macros-numbers {
  margin-top: 100px;
  text-align: center;
  font-style: italic;
}

/* #macros-grid {
  margin-bottom: 20px;
} */

#macros-numbers p {
  font-size: 18px;
}

#macros-card{
  margin: 0 auto;
  width: 80%;
  border-radius: 15px !important;
  box-shadow: none;
  background: #F6F6F6;
  /* border-style: solid;
  border-color: #2761f1; */
}

#macros-button {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: red;
  color: white;
}

#share-icons {
  display: inline-flex;
}

#footer {
  height: 55px;
  background: #2761f1;
  position: static;
  color: gray;
  border-radius: 0px !important;
  box-shadow: none;
  margin-top: 0px;
}

#button {
  border: 2px solid;
  border-color: #e80aaa;
  background-color: transparent;
  color: black;
  margin-bottom: 20px;
}

#button-mobile {
  border: 2px solid;
  border-color: #e80aaa;
  background-color: transparent;
  color: black;
  margin-bottom: 20px;
}

#button:hover {
  color: white;
  background: #e80aaa;
  -webkit-transition: background .6s;
  -moz-transition: background .6s;
  -ms-transition: background .6s;
  -o-transition: background .6s;
  transition: background .6s;
}

#progress-bar {
  margin: 0 auto;
  margin-top: 20px;
  width: 85%;
}

#steps-on-bar {
  display: flex;
  justify-content:space-between;
}

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}

#email-modal{
  margin: 0 auto;
}

#logo{
  margin-top: 8px;
  margin-left: 10px;
  float: left;
  width: 20%
}

#logo-mobile {
  margin: 0 auto;
  align-content: center;
  text-align: center;
  margin-top: 10px;
  width: 60%
}

#nutrition-package-header{
    background-image: url("https://images.unsplash.com/photo-1534317799915-0c818517edd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1956&q=80");
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

#footer-content {
  display: flex;
  justify-content:space-between;
  color: white;
}

#section-title {
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 35px;
  margin-top: -30px;
  font-style: italic;
  width: 80%;

}

#share-buttons-mobile {
  text-align: center!important;
}

#share-buttons-desktop {
  display:inline-flex;
  margin-top: 10px;
  margin-right: 10px;
}

/* #background-image-home {
  background-image: url("https://media.istockphoto.com/photos/lace-up-for-the-workout-of-your-life-picture-id618982838?k=6&m=618982838&s=612x612&w=0&h=Nst2TzKtZha_KJvCJaicDyRqdsR0HcvMTR624D7uNwc=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
} */

#macros-breakdown-form {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

#sign-up-form-card {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  /* background: linear-gradient(270deg, rgba(39,97,241,1) 0%, rgba(232,10,170,1) 80%); */
  /* border-radius: 15px !important;
  box-shadow: none; */
}


#sign-up-input {
  width: 80%;
  background: transparent;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom-color: #2761f1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: medium;
}

#sign-up-input-mobile {
  width: 90%;
}

/* #sign-up-form-card h2{
  color: white;
} */

#sign-up-text {
  margin: 0 auto;
  margin-top: 25px;
}

#sign-up-text h1 {
  font-size: 40px;
  font-style: italic;
}

#sign-up-text p{
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.ui.checkbox .box:after, .ui.checkbox label:after {
  color: #e80aaa;
}

/* #sign-up-div {
  height: 62vh;
} */

#button-get-email{
  border: 2px solid;
  border-color: #e80aaa;
  background-color: transparent;
  color: black;
  width: 65%;
  font-style: bold;
}

#button-get-email:hover {
  color: white;
  background: #e80aaa;
  -webkit-transition: background .6s;
  -moz-transition: background .6s;
  -ms-transition: background .6s;
  -o-transition: background .6s;
  transition: background .6s;
}

#benefits-calorie-calculator {
  display: flex;
  justify-content:space-between;
  margin-left: 40px;
  margin-right: 40px;
}

/* #button-start-calculation {
  background-color: red;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 60%;
} */

#bcm-for-who {
  margin: 0 auto;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 40px;
  box-shadow: none;
}

#bcm-for-who h4 {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%
}

#bcm-header{
  width: 100%;
  height: 300px;
  margin-top: 0px;
  background-color: gray;
  box-shadow: none;
  background: linear-gradient(330deg, rgba(84,0,240,1) 50%, rgba(211,211,211,1) 100%);
}

#bcm-header h1{
  margin-top: 30%;
}

.ui.card {
 border-radius: 0px !important;
 box-shadow: none;
}

.ui.card>.extra {
  border-top: 0px;
}

.ui.success.progress{
  background-color: lightgray;
}

#benefits-bcm {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  background: white;
  transition: background 0.4s ease-in-out;

}

#benefits-bcm:hover {
background: #F6F6F6;
border-radius: 15px !important;
box-shadow: none;

}

#icons {
  color: #2761f1;
}

#body-type-explanation{
  margin-left: 30px;
  margin-right: 30px;
}

#title-body-type {
  font-size: 30px;
  font-style: italic;
  margin: 0 auto;
  width: 80%;
  margin-top: 25px;
  margin-bottom: 35px;
}

#lets-get-numbers {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 80%;
  font-style: italic;
  font-size: 30px;
}

/* #congratulations-bcm-header {
  margin-top: -30px;
  width: 100%;
  height: 200px;
  background: #2761f1;
  box-shadow: none;
  padding-top: 10px;
  color: white;
} */

#congratulations-bcm-header h1 {
  font-size: 40px;
  padding-top: 60px;
  color: white;
}

#congratulations-message {
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
}

#title-bcm {
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 90%;
  font-size: 40px;
  font-style: italic;
}

#body-type-points-card{
  margin: 0 auto;
  width: 70%;
  margin-bottom: 15px;
}

#body-type-points {
  text-align: left;
}

#header-thankyou-bcm {
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to right, #e80aaa, #ce2dc2, #ac43d6, #7d54e7, #2761f1);
  box-shadow: none;
}

#header-main-landing {
  margin-bottom: 60px;
  width: 100%;
  height: 350px;
  background: #2761f1;
  /* background: url(/cool-background.png) no-repeat;
  background-size: cover; */
  box-shadow: none;
  color: white;
}

#header-thankyou-bcm h1 {
  font-size: 50px;
  padding-top: 15px;
  color: white;
}

#thank-you-bcm-text {
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 25px;
  width: 80%;
}

#confetti {
  margin: 0 auto;
}

.check {
  color: #7CFC00;
}

#breakdown-form {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  background: #F6F6F6;
  border-radius: 15px !important;
  box-shadow: none;
}

#title-for-details {
  margin-bottom: 50px;
  font-weight: bolder;
  font-size: 40px;
}

#img-motivation {
  margin: 0 auto;
  background-color: #ffffff00;
  height: 70px;
}

#img-invite-page {
  margin: 0 auto;
  background-color: #ffffff00;
  height: 70px;
}

#img-diet-type {
  margin: 0 auto;
  background-color: transparent;
}

#img-container-motivation {
  margin-top: 30px;
  height: 62vh;
}

#image-container-diet-type {
  margin-top: 30px;
  height: 62vh;
}

#image-card {
  box-shadow: none;
  transition: transform .4s;
}

#image-card:hover {
  transform: scale(1.1)
}

#arrow-results {
  float: right;
}

#gender-button {
  width: 30%;
  color: white;
  margin-top: 40px;
  background: transparent;
  border: 2px solid;
  border-color: #e80aaa;
  -webkit-transition: background .6s;
  -moz-transition: background .6s;
  -ms-transition: background .6s;
  -o-transition: background .6s;
  transition: background .6s;
  /* color: white;
  background: linear-gradient(to right, #e80aaa, #ce2dc2, #ac43d6, #7d54e7, #2761f1); */
}

#gender-button:hover {
  background: #e80aaa;
  color: white;
}

#gender-button-mobile {
  width: 45%;
  color: white;
  margin-top: 40px;
  background: transparent;
  border: 2px solid;
  border-color: #e80aaa;
  -webkit-transition: background .6s;
  -moz-transition: background .6s;
  -ms-transition: background .6s;
  -o-transition: background .6s;
  transition: background .6s;
}

#gender-button-mobile:hover {
  background: #e80aaa;
}

#intro-results {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  margin-bottom: 30px;
}

#for-you-if-card {
  margin-top: -10px;
  width: 80%;
}

#checkbox {
  width: 50%
}

#landing-main-benefits {
  margin: 0 auto;
  width: 80%;
  line-height: 1.5;
  margin-top: 30px;
}



#money-back {
  margin: 0 auto;
  line-height: 1.5;
  margin-top: 30px;
  background: #F6F6F6;
  margin-bottom: 0px;
}

#what-you-get {
  margin: 0 auto;
  width: 60%;
  line-height: 1.5;
  margin-top: 30px;
}

#how-it-works {
  margin: 0 auto;
  width: 80%;
  line-height: 1.5;
  margin-top: 30px;
}

.ui.progress{
  background: blue
}

.vertical-timeline::before {
  background: #2761f1 !important;
}

.vertical-timeline-element-content {
  background: white !important;
  box-shadow: 0 3px 0 #F6F6F6 !important;
}

.vertical-timeline-element-content:before {
  border: 7px solid transparent !important;
  border-right: 7px solid #F6F6F6 !important;
}

.ui.card>.content {
  font-size: 1.1em;
}

.ui.selection.dropdown {
  background: transparent;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom-color: #2761f1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: medium;
}

.ui.form input[type=number] {
  background: transparent;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom-color: #2761f1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: medium;
}

#invite-page {
  background: linear-gradient(to right, #e80aaa, #ce2dc2, #ac43d6, #7d54e7, #2761f1);
  /* background: url("https://image.shutterstock.com/image-photo/side-view-muscular-couple-doing-450w-296937782.jpg") no-repeat center center fixed; */
  height: 300px;
}

#invite-page-mobile{
  background: linear-gradient(to right, #e80aaa, #ce2dc2, #ac43d6, #7d54e7, #2761f1);
  height: 450px;
}

/* calc(100vh - 50px) */
#invite-title {
  font-size: 28px;
  font-style: italic;
}

#invite-title-container {
  margin: 0 auto;
  width: 80%;
  color: white;
  padding-top: 30px;
}

#invite-button {
  background-color: #2761f1;
  color: white;
  opacity: 1;
  margin-top: 10px;
  -webkit-transition: filter .5s;
  -moz-transition: filter .5s;
  -ms-transition: filter .5s;
  -o-transition: filter .5s;
  transition: filter .5s;
  position: relative;
  text-decoration: none;
  width: 80%;
  margin-right: 0px;
  margin-top: 0px;
}

#invite-button:hover {
  filter: brightness(110%);
  /* background-color: #e80aaa; */
  cursor: pointer;
  /* text-transform: uppercase; */
}

#invite-button-input {
  margin: 0 auto;
  margin-top: 20px;
  width: 60%;
  align: left;
}

#invite-button-mobile {
  background-color: #2761f1;
  color: white;
  opacity: 1;
  position: relative;
  text-decoration: none;
  width: 90%;
  margin-right: 0px;
}

#results-card-drop {
  color: black;
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
  background: transparent;
  border: 2px solid;
  border-color: #2761f1;
  height: 45px;
  border-radius: 15px !important;
}

#results-card-drop:hover {
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
  border: 3px solid;
  border-color: #e80aaa;
  height: 45px;
  border-radius: 15px !important;
}

#results-card-drop-active {
  color: white;
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
  background: #e80aaa;
  height: 40px;
  border-radius: 15px !important;
}

#take-action-card {
  color: white;
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
  background: #2761f1;
  height: 40px;
  border-radius: 15px !important;
  transition: background 0.4s;
}

#take-action-card:hover {
  background:  #e80aaa;
}

#start-today-card {
  color: black;
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
  background: transparent;
  border: 2px solid;
  border-color: #2761f1;
  height: 45px;
  border-radius: 15px !important;
}

#start-today-card:hover {
  color: white;
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
  background: red;
  border: 2px solid;
  border-color: #e80aaa;
  height: 45px;
  border-radius: 15px !important;
}

#more-info-Button {
  float: right;
  background: transparent
}

#more-info-Button-calories {
  background: transparent
}

#testimonial-card {
  background: transparent;
}

#text-next-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px
}

#cta-button {
  background: #2761f1;
  color: white;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 25px;
  transition: background-color .5s ease;
}

#cta-button:hover {
  background-color: blue;
}

#title-faq {
  margin: 0 auto;
  text-align: left;
  margin-bottom: 10px;
}

#icon-faq:hover {
  color: #e80aaa;
}

#loading {
  margin: 0 auto;
  text-align: center;
  margin-top: 20%
}
