.App {
 text-align: center;
}

html, body{
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
  height:100%;
  scroll-behavior: smooth;
}

p {
  font-size: 15px;
}

h4 {
  font-size: 17px;
}

#navbar {
  margin-top: 0%;
  float: left;
  width: 100%;
  background: linear-gradient(270deg, rgba(39,97,241,1) 0%, rgba(232,10,170,1) 80%);
  height: 50px;
}

/* #logo {
  margin-top: -18px;
} */

#info-card {
  margin-top: 2%;
  display: inline-block;
  width: 80%
}

#info-card p {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

#info-card h3 {
  text-align: left;
  margin-left: 10px;
  font-style: italic;
}

#info-card p {
  margin-bottom: 10px;
}

#image {
  margin: 0 auto;
  margin-top: 10px;
}

#steps > p{
  display: inline-block;
  text-align: center;
}

#bmr-form {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  background: #eaeaea;
  border-radius: 15px !important;
  box-shadow: none;
}

#bmr-results {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 15px !important;
  box-shadow: none;
  background: #eaeaea;
  /* border-style: solid;
  border-color: #2761f1; */
}

#calories-result {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 15px !important;
  box-shadow: none;
  background: #2761f1;
  /* border-style: solid;
  border-color: #2761f1; */
}

#diet-type-result {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px !important;
  box-shadow: none;
  background: #eaeaea;
  /* border-style: solid;
  border-color: #2761f1; */
}

#bmr-results-text {
  margin: 0 auto;
  margin-bottom: 0px;
  width: 90%;
  font-size: 30px;
  font-style: italic;
  color: white;
}

/* #image-container {
  margin: 0 auto;
  margin-bottom: 40px;
} */

.ui.container {
  overflow: auto;
  white-space: nowrap;
}
.ui.card {
  display: inline-block;
}

#body-card {
  display: inline;
}

#macros-title {
  margin: 0 auto;
  margin-bottom: 0px;
  width: 90%;
  font-size: 30px;
  font-style: italic;
  color: white;
}

#macros-numbers {
  margin-top: 70px;
  text-align: center;
}

/* #macros-grid {
  margin-bottom: 20px;
} */

#macros-numbers h3 {
  font-size: 25px;
}

#macros-card{
  margin: 0 auto;
  width: 80%;
  border-radius: 15px !important;
  box-shadow: none;
  background: #eaeaea;
  /* border-style: solid;
  border-color: #2761f1; */
}

#macros-button {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: red;
  color: white;
}

#share-icons {
  display: inline-flex;
}

#footer {
  height: 50px;
  background: linear-gradient(270deg, rgba(39,97,241,1) 0%, rgba(232,10,170,1) 80%);
  margin-top: 40px;
  position: static;
  color: gray;
  border-radius: 0px !important;
  box-shadow: none;
}

#button {
  background-color: #2761f1;
  color: white;
  opacity: 1;
}

/* #button:hover {
  opacity: 1;
} */

#progress-bar {
  margin: 0 auto;
  margin-top: 20px;
  width: 85%;
}

#steps-on-bar {
  display: flex;
  justify-content:space-between;
}

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}

#email-modal{
  margin: 0 auto;
}

#logo{
  color: white;
  font-family: 'Lato';
  margin-top: 5px;
  font-size: 25px;
  margin-left: 10px;
  float: left;
  margin-top: 9px;
  font-style: italic;
}

#nutrition-package-header{
    background-image: url("https://images.unsplash.com/photo-1534317799915-0c818517edd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1956&q=80");
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

#footer-content {
  display: flex;
  justify-content:space-between;
  color: white;
}

#section-title {
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 35px;
  margin-top: -30px;
  font-style: italic;
  width: 80%;

}

#share-buttons-mobile {
  text-align: center!important;
}

#share-buttons-desktop {
  display:inline-flex;
  margin-top: 10px;
  margin-right: 10px;
}

/* #background-image-home {
  background-image: url("https://media.istockphoto.com/photos/lace-up-for-the-workout-of-your-life-picture-id618982838?k=6&m=618982838&s=612x612&w=0&h=Nst2TzKtZha_KJvCJaicDyRqdsR0HcvMTR624D7uNwc=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
} */

#macros-breakdown-form {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

#sign-up-form-card {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  /* background: linear-gradient(270deg, rgba(39,97,241,1) 0%, rgba(232,10,170,1) 80%); */
  /* border-radius: 15px !important;
  box-shadow: none; */
}


#sign-up-input {
  width: 80%;
}

/* #sign-up-form-card h2{
  color: white;
} */

#sign-up-text {
  margin: 0 auto;
  margin-top: 25px;
}

#sign-up-text h1 {
  font-size: 40px;
  font-style: italic;
}

#sign-up-text p{
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* #sign-up-div {
  height: 62vh;
} */

#button-get-email{
  background-color: #2761f1;
  color: white;
  width: 65%;
  font-style: bold;

}

#benefits-calorie-calculator {
  display: flex;
  justify-content:space-between;
  margin-left: 40px;
  margin-right: 40px;
}

#button-start-calculation {
  background-color: red;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 60%;
}

#bcm-for-who {
  margin: 0 auto;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 40px;
  box-shadow: none;
}

#bcm-for-who h4 {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%
}

#bcm-header{
  width: 100%;
  height: 300px;
  margin-top: 0px;
  background-color: gray;
  box-shadow: none;
  background: linear-gradient(330deg, rgba(84,0,240,1) 50%, rgba(211,211,211,1) 100%);
}

#bcm-header h1{
  margin-top: 30%;
}

.ui.card {
 border-radius: 0px !important;
 box-shadow: none;
}

.ui.success.progress{
  background-color: lightgray;
}

#benefits-bcm {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  background: white;
  transition: background 0.4s ease-in-out;

}

#benefits-bcm:hover {
background: #eaeaea;
border-radius: 15px !important;
box-shadow: none;

}

#icons {
  color: #2761f1;
}

#body-type-explanation{
  margin-left: 30px;
  margin-right: 30px;
}

#title-body-type {
  font-size: 30px;
  font-style: italic;
  margin: 0 auto;
  width: 80%;
  margin-top: 25px;
  margin-bottom: 35px;
}

#lets-get-numbers {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 80%;
  font-style: italic;
  font-size: 30px;
}

/* #congratulations-bcm-header {
  margin-top: -30px;
  width: 100%;
  height: 200px;
  background: #2761f1;
  box-shadow: none;
  padding-top: 10px;
  color: white;
} */

#congratulations-bcm-header h1 {
  font-size: 40px;
  padding-top: 60px;
  color: white;
}

#congratulations-message {
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
}

#title-bcm {
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 90%;
  font-size: 40px;
  font-style: italic;
}

#body-type-points-card{
  margin: 0 auto;
  width: 60%;
  margin-bottom: 15px;
}

#body-type-points {
  text-align: left;
}

#header-thankyou-bcm {
  margin-top: -22px;
  width: 100%;
  height: 200px;
  background: #2761f1;
  box-shadow: none;
}

#header-main-landing {
  margin-top: -35px;
  margin-bottom: 60px;
  width: 100%;
  height: 350px;
  background: #2761f1;
  /* background: url(/cool-background.png) no-repeat;
  background-size: cover; */
  box-shadow: none;
  color: white;
}

#header-thankyou-bcm h1 {
  font-size: 50px;
  padding-top: 65px;
  color: white;
}

#thank-you-bcm-text {
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 40px;
  width: 80%;
}

#confetti {
  margin: 0 auto;
}

.check {
  color: #7CFC00;
}

#breakdown-form {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  background: #eaeaea;
  border-radius: 15px !important;
  box-shadow: none;
}

#title-for-details {
  margin-bottom: 50px;
  font-weight: bolder;
  font-size: 40px;
}

#img-motivation {
  margin: 0 auto;
  background-color:  #ffffff00;
}

#img-diet-type {
  margin: 0 auto;
  background-color: white;
}

#img-container-motivation {
  margin-top: 30px;
  height: 62vh;
}

#image-container-diet-type {
  margin-top: 30px;
  height: 62vh;
}

#image-card {
  box-shadow: none;
  transition: transform .4s;
}

#image-card:hover {
  transform: scale(1.1)
}

#arrow-results {
  float: right;
}

#gender-button {
  width: 35%;
  color: white;
  background: linear-gradient(to right, #e80aaa, #ce2dc2, #ac43d6, #7d54e7, #2761f1);
  margin-top: 40px;
}

#gender-button:hover {
  background: #e80aaa;
}

#intro-results {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
}

#for-you-if-card {
  margin-top: -10px;
  width: 80%;
}

#checkbox {
  width: 50%
}

#landing-main-benefits {
  margin: 0 auto;
  width: 80%;
  line-height: 1.5;
  margin-top: 30px;
}

.ui.progress{
  background: blue
}

.vertical-timeline::before {
  background: #2761f1 !important;
}

.vertical-timeline-element-content {
  background: white !important;
  box-shadow: 0 3px 0 #eaeaea !important;
}

.vertical-timeline-element-content:before {
  border: 7px solid transparent !important;
  border-right: 7px solid #eaeaea !important;
}

.ui.card>.content {
  font-size: 1.1em;
}
