.App {
 text-align: center;
}

body{
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

#navbar {
  margin-top: 0%;
  float: left;
  position: sticky;
  width: 100%;
  background-color: gray;
  height: 40px;
}

#info-card {
  margin-top: 2%;
  display: inline-block;
  width: 80%
}

#info-card p {
  margin-bottom: 10px;
}

#image {
  margin: 0 auto;
  margin-top: 10px;
}

#steps > h2{
  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 33%;
  text-align: center;
}
